@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic-ext);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Faustina;
}

body {
  background-color: #fafcfc;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center items vertically */
  height: 150px;
  padding: 10px; /* Adjust padding as needed */

  flex-wrap: nowrap;
}
.header__left-block {
  display: flex;
  align-items: center;
}
.header__logo {
  min-width: 100px;
  max-width: 170px;
}
.header__logo img {
  width: 100%;
}
.header__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
}
.header__link {
  font-weight: 600;
  font-size: 20px;
  color: #303030;
  text-decoration: none;
  padding: 0 10px;
}
.btn {
  width: 200px;
  height: 70px;
  background-color: #fff;
  font-size: 20px;
  margin: 20px;
  font-weight: 700;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s;
}
.btn_white {
  background-color: #fff;
}
.btn:hover {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

.divider {
  width: auto;
  height: 5px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.lang__options {
  margin: 20px;
  font-size: 20px;
  align-items: center;
  display: flex;
  padding: 20px;
}
#languages {
  margin: 35px;
  min-width: 100px;
  min-height: 50px;
  font-size: 20px;
  align-items: center;
  background-color: #878383;
  color: #ececec;
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.footer {
  min-height: 180px;
  background-color: #303030;
  padding: 30px;
  color: #fff;
}
.footer .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer .subtitle {
  font-size: 20px;
}
.footer .link {
  display: block;
  margin-top: 15px;
  font-size: 15px;
  color: #ececec;
}
.footer .call {
  text-align: right;
}
.footer img {
  align-items: center;
  max-width: 50px;
  margin: 30px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__dialog {
  max-width: 500px;
  margin: 40px auto;
}
.modal__content {
  position: relative;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto;
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 30px;
  color: #000;
  opacity: 0.5;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.modal__title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
}
.modal__input {
  display: block;
  margin: 20px auto 20px auto;
  width: 280px;
  height: 50px;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 18px;
  text-align: center;
  padding: 0 20px;
  outline: 0;
}
.modal .btn {
  display: block;
  width: 280px;
  margin: 0 auto;
}

.languageContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.languageContent img {
  margin: 0px;
  align-items: center;
  width: 100%;
  max-width: 500px;
  height: 300px;
  object-fit: cover;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
.offer__item-title {
  padding: 10px;
  color: #817979;
  display: flex-end;
  font-size: 24px;
}
.offer__item-price {
  color: #817979;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.offer__item-price span {
  color: #817979;
  font-size: 24px;
  font-weight: 700;
}
.offer__item-descr {
  font-size: 18px;
  color: #817979;
  margin-top: 20px;
  padding: 0 20px;
}
.offer__item-duration {
  display: flex;
  color: #817979;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.offer__item-hour span {
  font-size: 24px;
  color: #817979;
  font-weight: 700;
}
.languageContent {
  background-color: #817979;
}
.offer__item-divider {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.25);
  margin-top: 40px;
}
.offer__item {
  margin: 30px;
  width: 400px;
  min-height: 450px;
  background-color: #ececec;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 300;
}

.edu {
  color: #222121;
  margin: 40px;
  text-align: center;
  font-size: 55px;
}
.tutors__pers-left-block {
  padding: 20px;
}
.tutors__pers-left-block img {
  margin: 0px;
  padding: 10px;
  align-items: center;
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  min-height: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.tutors__pers-right-block {
  width: 70%;
}
.teach {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 60%;
  background-color: #ececec;
}
.tutors__pers-name {
  font-size: 32px;
  color: #817979;
}
.tutors__pers-description {
  font-size: 20px;
  color: #817979;
  padding: 50px;
  display: flex;
}
.tutors__pers-birth {
  font-size: 20px;
  color: #817979;
  font-weight: 700;
}
.tutors__pers-langs {
  font-size: 20px;
  color: #817979;
}
.tutors__pers-langs span {
  font-size: 20px;
  color: #817979;
  font-weight: 700;
}
.tutors__pers-rate {
  font-size: 20px;
  color: #817979;
}
.tutors__pers-rate span {
  font-size: 20px;
  color: #817979;
  font-weight: 700;
}
.tutors__pers-experience {
  font-size: 20px;
  color: #817979;
  padding: 20px;
}
.tutors__pers-experience span {
  font-size: 20px;
  color: #817979;
  font-weight: 700;
}
.tutors__pers-education {
  font-size: 20px;
  color: #817979;
  padding: 20px;
}
.tutors__pers-education span {
  font-size: 20px;
  color: #817979;
  font-weight: 700;
}
.divide {
  margin: 30px;
}

.promotion {
  padding: 40px;
  position: relative;
  background-color: #817979;
  color: #ececec;
}
.promotion__timer .title {
  font-size: 34px;
  color: #ececec;
}
.promotion__text .title {
  font-size: 40px;
  text-align: center;
}
.promotion .container {
  display: flex;
}
.promotion__text {
  width: 40%;
}
.promotion__descr {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 300;
}
.promotion__descr span {
  font-weight: 700;
  font-size: 26px;
}
.promotion__timer {
  width: 50%;
}
.promotion__timer .title {
  text-align: right;
}
.promotion__timer .timer {
  margin-top: 60px;
  padding-left: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promotion__timer .timer__block {
  width: 102px;
  height: 120px;
  color: #817979;
  background: #fff;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}
.promotion__timer .timer__block span {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 56px;
  font-weight: 700;
}
